<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<section>
    <form th:action="@{/search}" method="get" class="home-search-form">
        <div class="search-input-group">
            <input type="text" name="q" placeholder="Search..." class="search-input"/>
            <button type="submit" class="search-button">Search</button>
        </div>
        <div class="search-options">
            <label>
                <input type="hidden" id="exactHidden" name="exact" value="true"/>
                <input type="checkbox" id="exactCheckbox" checked
                       onclick="document.getElementById('exactHidden').value = this.checked ? 'true' : 'false'"/>
                Exact match
            </label>
        </div>
    </form>
</section>
</html>
