<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<section>
    <form th:action="@{/keywords}" method="get" class="keywords-form">
        <input type="text" name="q" th:value="${param.q}" placeholder="Query keyword..." class="keywords-input"/>
        <button type="submit" class="keywords-button">Query</button>
    </form>
    <div class="keywords-wrapper">
        <ul th:if="${keywords != null}" class="keywords-list">
            <li th:each="word : ${keywords}" th:text="${word}" class="keyword-item"></li>
        </ul>
    </div>
</section>
</html>
