<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{layout :: layout(~{::section})}">
<section>
    <div style="text-align:center;margin-bottom:2em;">
        <span>Total pages crawled: </span><span th:text="${totalPages}">0</span>
    </div>
    <form th:action="@{/spider}" method="post" style="max-width:400px;margin:0 auto;">
        <div style="margin-bottom:1em;">
            <input type="text" name="url" placeholder="Enter URL to index" style="width:100%;padding:0.5em;"/>
        </div>
        <div style="margin-bottom:1em;">
            <label>Max pages to crawl: <input type="number" name="maxPages" min="1" value="100" style="width:80px;"/></label>
        </div>
        <div style="margin-bottom:1em;">
            <label>Single batch size: <input type="number" name="batchSize" min="1" value="10" style="width:80px;"/></label>
        </div>
        <div style="margin-bottom:1em;">
            <label>Wait time between batches (sec): <input type="number" name="waitTime" min="0" value="1" style="width:80px;"/></label>
        </div>
        <div style="text-align:center;">
            <button type="submit">Start Crawling</button>
        </div>
    </form>
</section>
</body>
</html>
