<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<section>
    <form th:action="@{/spider}" method="post" class="spider-form">
        <div class="spider-field">
            <input type="text" name="url" placeholder="Enter URL to index" class="spider-url-input"/>
        </div>
        <div class="spider-field">
            <label>Max pages to crawl: <input type="number" name="maxPages" min="1" value="30" class="spider-max-pages-input"/></label>
        </div>
        <div class="spider-submit-wrapper">
            <button type="submit">Start Crawling</button>
        </div>
    </form>

    <div class="spider-export-wrapper">
        <a href="/spider/export" class="spider-export-link">Export Database to TXT</a>
    </div>
</section>
</html>
